if has use_nix; then
    use_nix
else
    use nix
fi
layout node
watch_file package.json
watch_file shell.nix
watch_file shell.sh
watch_file languages/nodejs/validate/package.json
watch_file languages/python/validate/requirements/dev.in
watch_file languages/python/validate/requirements/prod.in
