#!/usr/bin/env bash
# the shebang is ignored, but nice for editors

if type -P lorri &>/dev/null; then
  eval "$(lorri direnv)"
else
  echo 'while direnv evaluated .envrc, could not find the command "lorri" [https://github.com/nix-community/lorri]'
  use nix
fi
layout node
watch_file package.json
watch_file shell.nix
watch_file shell.sh
watch_file languages/nodejs/validate/package.json
watch_file languages/python/validate/requirements/dev.in
watch_file languages/python/validate/requirements/prod.in
